@charset "utf-8";
/* CSS Document */

body{
		width:1180px;
		margin:0 auto;
		}
	.main{
		width:1180px;
		
		}
	.header{
		width:1180px;
		height:120px;
		background:url(../images/22.gif);
		margin-top:0px;
	}
	.header img{
		float:left;
		}	
	.header h4{
		font-family:"宋体";
		font-size:20px;
		width:200px;
		margin-top:0px;
	    margin-left:500px;
		
	}
	 .header_right{
		 width:750px;
		 margin-left:300px;
		 }
	.center{
		width:1180px;
		height:600px;
	    background-color:#F5DEB3;
	
		}
	.content{
		width:700px;
		height:500px;
		margin-left:240px;
		margin-top:50px;
		position:absolute;
		text-align:left;
	
		border-radius:15px;
		
	}
	#content-1{
		width:700px;
		height:50px;
	
		}
	
	.content-3{
		width:700px;
		}
	.text{
		padding-top:10px;
		margin:5px;
		color:#000;
		
		line-height:150%;}
	
	.img2{
		float:right;
		margin:10px;
		padding:5px;}
	
	.footer{
			width:1180px;
			height:150px;
			position:absolute;
			background-color:#EEC591;
	}
	.footer-1{
		width:550px;
		height:40px;
		margin-left:200px;
		margin-top:55px;
		text-align:center;
	
	}
	.footer-2{
		width:100px;
		height:100px;
		margin-left:900px;
		margin-top:-70px;
	
	
		}
	.footer-2 img{
		width:100px;
		height:100px;
		
		}