@charset "utf-8";
/* CSS Document */


    .header{
		width:1180px;
		height:120px;
		background:url(../images/22.gif);
		margin-top:0px;
	}
	.header img{
		float:left;
		}	
	.header h4{
		font-family:"宋体";
		font-size:20px;
		width:200px;
		margin-top:0px;
	    margin-left:500px;	
	  }
	 


  @font-face{
        	font-family: 'sansationregular';
        	src:url('http://www.w3cplus.com/demo/css3/3DAnimationDropdownMenu/sansation_regular-webfont.eot');
			src: url('http://www.w3cplus.com/demo/css3/3DAnimationDropdownMenu/sansation_regular-webfont.eot?#iefix') format('http://www.w3cplus.com/demo/css3/3DAnimationDropdownMenu/embedded-opentype'),
				 url('http://www.w3cplus.com/demo/css3/3DAnimationDropdownMenu/sansation_regular-webfont.woff') format('woff'),
				 url('http://www.w3cplus.com/demo/css3/3DAnimationDropdownMenu/sansation_regular-webfont.ttf') format('truetype'),
				 url('http://www.w3cplus.com/demo/css3/3DAnimationDropdownMenu/sansation_regular-webfont.svg#sansationregular') format('svg');
			font-weight: normal;
			font-style: normal;
        }
	#menu_wrap{
			height:60px;
			width:77%;
			margin:0 auto;
			float:right;
			margin-top:40px;
			}
      .nav-menu {	
			z-index:99999px;
            display:block;
        	background:#F03;
        	width:99.8%;
			height:50px;
			border:1px solid black;
        	margin:0px auto;
        }
        .nav-menu > li {
			display: inline;
			float:left;
			width:128px;
			text-align:center;	
			border-right:1px solid #F89AF0;
			position:relative;
			z-index:99999px;
			}
        .nav-menu > li:last-child {
            border-right: none;
        }
        .nav-menu li a {
            color: #F89AF0;
        	display: block;
        	text-decoration: none;
        	font-family: 'sansationregular';
            -webkit-font-smoothing: antialiased;
        	-moz-font-smoothing: antialiased;
        	font-smoothing: antialiased;
        	text-transform: capitalize;
        	overflow: visible;
        	line-height: 15px;
        	font-size: 15px;
        	padding: 15px 30px 15px 31px;			
        }
        
        
        .three-d {
				perspective:200px;
				-o-perspective:200px;
				-webkit-perspective:200px;
				-moz-perspective:200px;
				-ms-perspective:200px;
	
				transition:all 0.7s linear;
				-o-transition:all 0.7s linear;
				-ms-transition:all 0.7s linear;
				-moz-transition:all 0.7s linear;
				-webkit-transition:all 0.7s linear;
			  position: relative;
        }
        
        .three-d:not(.active):hover {
          cursor: pointer;
        }
        
        .three-d:not(.active):hover .three-d-box, 
        .three-d:not(.active):focus .three-d-box {
        	transform:translateZ(-25px) rotateX(90deg);
        	-o-transform:translateZ(-25px) rotateX(90deg);
        	-ms-transform:translateZ(-25px) rotateX(90deg);
        	-moz-transform:translateZ(-25px) rotateX(90deg);
        	-webkit-transform:translateZ(-25px) rotateX(90deg);

        }
        
        .three-d-box {
			transform:translateZ(-25px);
        	-o-transform:translateZ(-25px);
        	-ms-transform:translateZ(-25px);
        	-moz-transform:translateZ(-25px);
        	-webkit-transform:translateZ(-25px);

        	transition:all .3s ease-out;
        	-o-transition:all .3s ease-out;
        	-ms-transition:all .3s ease-out;
        	-moz-transition:all .3s ease-out;
        	-webkit-transition:all .3s ease-out;


          -webkit-transform-style: preserve-3d;
          -moz-transform-style: preserve-3d;
          -ms-transform-style: preserve-3d;
          -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-pointer-events: none;
          -moz-pointer-events: none;
          -ms-pointer-events: none;
          -o-pointer-events: none;
          pointer-events: none;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
        }
        
       ul .clearfix unstyled drop-menu{
		   
		   z-index:9999;
		   position:absolute;
		   width::100%;
		   height:100%;
		   }
        .front {
        	transform:rotateX(0deg) translateZ(25px);
        	-ms-transform:rotateX(0deg) translateZ(25px);
        	-o-transform:rotateX(0deg) translateZ(25px);
        	-moz-transform:rotateX(0deg) translateZ(25px);
        	-webkit-transform:rotateX(0deg) translateZ(25px);
         }
        
        .back {
        	transform:rotateX(-90deg) translateZ(25px);
        	-ms-transform:rotateX(-90deg) translateZ(25px);
        	-o-transform:rotateX(-90deg) translateZ(25px);
        	-moz-transform:rotateX(-90deg) translateZ(25px);
        	-webkit-transform:rotateX(-90deg) translateZ(25px);
          color:#F89AF0;
        }
        
        .front, .back {
		 display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background:#C00;
			padding: 15px 30px 15px 31px;	
			color: white;
			-webkit-pointer-events: none;
			 -moz-pointer-events: none;
			 -ms-pointer-events: none;
			 -o-pointer-events: none;
			  pointer-events: none;
			 -webkit-box-sizing: border-box;
			  box-sizing: border-box;
			}
        
        .nav-menu li .active .front,
        .nav-menu li .active .back,
        .nav-menu li a:hover .front,
        .nav-menu li a:hover .back {
        	background-color:#F00;
        	background-size: 5px 5px;
        	background-position: 0 0, 30px 30px;
        	background-image: -webit-linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545), linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545);
			  background-image: -moz-linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545), linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545);
				background-image: -ms-linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545), linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545);
			  background-image: -o-linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545), linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545);
			  background-image: linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545), linear-gradient(45deg, #F07545 25%, transparent 25%, transparent 75%, #F07545 75%, #F07545);
        	/*background-image: -webkit-linear-gradient(45deg,#434238 25%,transparent 25%,transparent 75%,#434238 75%,#434238),-ms-linear-gradient(45deg,#434238 25%,transparent 25%,transparent 75%,#434238 75%,#434238),-moz-linear-gradient(45deg,#434238 25%,transparent 25%,transparent 75%,#434238 75%,#434238),-o-linear-gradient(45deg,#434238 25%,transparent 25%,transparent 75%,#434238 75%,#434238),linear-gradient(45deg,#434238 25%,transparent 25%,transparent 75%,#434238 75%,#434238);*/
        }
		
        .nav-menu ul {
            position: absolute;
			z-index:10;
        	text-align: center;
        	line-height: 40px;
        	font-size: 18px;
        	width:100%;
           -webkit-transition: all 0.3s ease-in;
          -moz-transition: all 0.3s ease-in;
          -ms-transition: all 0.3s ease-in;
          -o-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
          -webkit-transform-origin: 0px 0px;
          -moz-transform-origin: 0px 0px;
          -ms-transform-origin: 0px 0px;
          -o-transform-origin: 0px 0px;
          transform-origin: 0px 0px;
          -webkit-transform: rotateX(-90deg);
          -moz-transform: rotateX(-90deg);
          -ms-transform: rotateX(-90deg);
          -o-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
          -webkit-backface-visibility: hidden;
          -moz-backface-visibility: hidden;
          -ms-backface-visibility: hidden;
          -o-backface-visibility: hidden;
        	backface-visibility: hidden;
	
	   
        }
        .nav-menu > li:hover ul {
          display: block;
			-webkit-transform: rotateX(0deg);
			-moz-transform: rotateX(0deg);
			-ms-transform: rotateX(0deg);
			-o-transform: rotateX(0deg);
			transform: rotateX(0deg);          
         }